
<%- include("partials/header"); -%>
    <h1>Kreiraj</h1>
    <form class="" action="/compose" method="post">
      <div class="form-group">
        <label>Naslov</label>
        <input class="form-control" type="text" name="postTitle">
        <label>Sadržaj</label>
        <textarea class="form-control" name="postBody" rows="5" cols="30"></textarea>
      </div>
      <button class="btn btn-primary" type="submit" name="button">Postavi</button>
    </form>

<%- include("partials/footer"); -%>
